body{
    background: url('/images/background.png');
    color: #353535;
    background-size:cover;    
}

#card-section {
    float:left;
    width:25%;
    height:100%;
}

#results-section {    
    float:left;
    width:45%;
    height:100%;
    box-sizing:content-box;   
}

.detail-container {
    display: inline-block;
    width:300px;
    height: 410px;
    float: left;
    opacity:.5;
    background: gray;
    overflow:hidden;
    padding: 0px 10px;
}

#cpu-details {
    margin-top: 30px;
    visibility:hidden;
}

#player-details {
    margin-top: 15px;
    visibility:hidden;
}

#details-section {
    float:left;
    width:19%;
    height:100%;
}

    .content-section .content h3 {
        padding:10px;
        background:#454545;
        margin-top:15px;
        margin-bottom:20px;
        color:#efefef;
    }

     .content-section .results-content .score-det{
        display:inline-block;
        margin-right:10px;
    }

    .content-section .results-content .num{
        font-size:35px;     
        position:relative;
        top:-25px;   
        width:30px;
        text-align: center;
    }

#battle-btn, #new-game {
    color:#454545;
    font-size:x-large;
    cursor:pointer;
    position:absolute;
    left:345px;
    top:400px;
}

#new-game {
    top:405px;
    left:327px;
}

header .user-info {
    position: absolute; 
    right: 80px; 
    top:45px; 
    font-size: 22px;
}

    header .user-info .user-details {
        display:inline-block; 
        top:-3px; 
        position:relative;
    }

     header .user-info img{
        margin-right:5px;
    }

        header .user-info .user-details .user-name {
            font-size:30px;
        }
        header .user-info .user-details .user-sub-info {
            font-size:15px;
        }

.main-content {
    margin-left:128px;
    /*background: #cdcdcd;
    color: #252525;    */
}

.card-container {
    
    display:inline-block;
    float:left;
        width:175px;
    height: 239px;
    background:#454545;

}

    .card-container img {
        width:100%;
        height: 100%;
        border: none;
    }

    /*.card-container .details {
        box-sizing:border-box;
        padding:15px;
        height:100px;
        background: white;
    }
        .card-container .details h2 {
            margin-top:5px;
            padding:0;
            line-height:10px;
        }*/
